<mat-toolbar class="header-toolbar" color="primary">
    <mat-toolbar-row>
      <div class="container">
        <div class="row between-xs middle-xs header-row">
          <nav class="center">
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active"
              >Products</a
            >
            <a mat-button routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
            <a mat-button class="admin" routerLink="/admin" routerLinkActive="active"
              >Admin panel</a
            >
          </nav>
          <a class="header-cart" routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  