
nav > a {
    padding: 5px;
    text-decoration: none;
  }
  nav > a.active {
    background-color: rgb(4, 4, 133);
  }
  .header-row{
    width: 100%;
  }
  .header-toolbar {
    margin-bottom: 20px;
  }

  .admin {
    background-color: rgba(0, 0, 0, 0.5);
  }


@media screen and (max-width: 426px) {
  .header-toolbar {
    padding: 40px 0px 30px 0px;
  }
  .header-cart {
    width: 80%;
    margin: 20px 0px;
  }

  .header-row  {
    justify-content: center;
    align-items: center;
  }
}