<div *ngFor ="let product of products">
    <div *ngIf="product.id == this.route.params._value.id">
    <div>
        <img class="img-product" [src]="product.image" alt="">
    </div>

    <mat-list>
     <mat-list-item> Nombre: {{ product.title }} </mat-list-item>
     <mat-list-item> Precio: {{ product.price | currency}}  </mat-list-item>
     <mat-list-item> {{ product.description}} </mat-list-item>
     <mat-list-item> 
         <button mat-raised-button color="primary" (click)="addCart()">Agregar al carrito</button>
     </mat-list-item>
    </mat-list>

    </div>
</div>

